* {
	/* These will reset the behaviour of padding so your width doesn't get bigger if you add padding */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body{
	margin:0;
	padding:0;
}

.container{
	width:50%;
	height:400px;
	background-color:yellow;
	margin:200px 25px; 
	position:relative;
}

.item {
	width:100px;
	height:100px;
	background-color:black;
	position:absolute;
	top:50px;
	left:50px;
}

.item2{
	width:150px;
	height:150px;
	background-color:red;
	border-radius:50%;
	position:absolute;
	left:50%; 
	margin-left:-75px;
	top:50%;
	margin-top:-75px;
}


.container2{
	width:50%;
	height:400px;
	background-color:red;
	margin:10px 25%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.flex1{
	width:100px;
	height:100px;
	background-color:blue;
}


.flex2{
	width:150px;
	height:150px;
	background-color:yellow;
	border-radius:50%;
	margin-top:10px;

}














